.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin: 0; /* обнуление стандартных отступов отступов */
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
}

.header__subtitle {
  margin: 0; /* обнуление стандартных отступов отступов */
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: #1f1f1f;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* Logo */
.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  height: 35px;
}

/* Description */
/* Two-columns */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;/* обнуление стандартных отступов отступов */
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;/* обнуление стандартных отступов отступов */
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

/* Digits */
.digits {
  margin-bottom: 100px;
}

/* Section */
.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 1; /* для того, чтобы треугольник
  в секции kaufman не загораживал заголовок */
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 auto;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* Table */
.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table_theme_dark {
  position: relative;
  z-index: 1; /* для того, чтобы треугольник
  в секции kaufman не загораживал таблицу */
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0; /* обнуление стандартных отступов отступов */
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  margin: 0; /* обнуление стандартных отступов отступов */
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 20px;
}

/* Feynman */
.feynman {
  min-height: 890px;
  position: relative;
  background: url('../images/feynman.png') no-repeat;
  background-position: bottom 0 left 0;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 100px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  right: 48px;
}

/* Kaufman */
.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url('../images/kaufman-triangle.svg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
}

/* Footer */
.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column {
  min-height: 250px;
  color: #fff;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  margin: 0; /* обнуление стандартных отступов отступов */
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0; /* обнуление стандартных отступов отступов */
  list-style: none;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__social-icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__author {
  margin: 0; /* обнуление стандартных отступов отступов */
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding: 18px 0;
}
